*{
  margin:0;
  padding:0;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

#x >div>kbd{
  border:1px solid red;
  width:4em;
  height:4em;
  display:inline-block;
  text-transform: capitalize;
  position: relative;
}

#x >div>kbd>button{
  position:absolute;
  right:0;
  bottom:0;
  display:none;
}
#x >div>kbd:hover>button{
  display:inline-block;
}

#x >div:nth-child(2){
 // margin-left:1em;
}

#x >div:nth-child(3){
 // margin-left:1em;
}
#x{
  display: inline-block;
}
main {
  text-align: center;
}